{% extends "base.html" %}<!-- content_read -->
{% block title %}Hello Google App Engine{% endblock title %}
{% block script %}
<link rel="stylesheet" type="text/css" href="/static/css/layout.css" >
{% endblock script %}
{% block content %}
    <div class="innercontent">
    	<div id="login">
        {% if user_info %}
            	안녕하세요{{user_info.nickname}}님 <a href="{{static_path.logout}}">로그아웃</a>
        {% else %}
            <a href="/user/login/">로그인</a>
        {% endif %}
        </div>
        <div id="maincontent">
        	<b>{{content.title|striptags}}</b></br>
        	</br>
        	{{ content.content|striptags|linebreaksbr }}
        	</br></br>
        	Version : {{ content.version }}
        	</br></br>
        	{% ifequal content.owner.user user_info %}
            <input type="button" value="Modify" id="modify" name="modify" onClick="window.location='/content/{{content.key.id}}/modify/'">
            <input type="button" value="Delete" id="delete" name="delete" onClick="window.location='/content/{{content.key.id}}/delete/'">
            {% endifequal %}
        </div>
    </div>
{% endblock content %}